@model MvcDataAssignments.Models.PersonModel


    <dl>
        @*<dt>
                @Html.DisplayFor(modelItem => Model.Id)
            </dt>*@
        <dd id="modelName">
            @Html.DisplayFor(modelItem => Model.Name)
        </dd>
        <dd id="modelCity">
            @Html.DisplayFor(modelItem => Model.City)
        </dd>
        <dd id="modelPhoneNumber">
            @Html.DisplayFor(modelItem => Model.PhoneNumber)
        </dd>
        <dd>
            @Ajax.ActionLink(
            linkText:"Delete Person",
            actionName: "PersonDelete",
            routeValues: new { id = Model.Id },
                ajaxOptions: new AjaxOptions {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "personList",
                    HttpMethod = "GET"
                })

            
            @*@Html.ActionLink("Delete", "Delete", new { id = Model.Id })*@
        </dd>
        <dd>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal-@Html.DisplayFor(modelItem => Model.Id)">Edit</button>
        </dd>
    </dl>